<!-- Loop over each post in the posts array  -->
<div class="homepage">
  {{#each posts as |post|}}
    <div class="card card">
      <a href="/post/{{post.id}}">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 card-author">by
          {{user.username}}</h6>
        <p class="card-text">{{post.content}}</p>
      </div>
      <div class="card-footer">
        Posted on {{ format_date post.createdAt}}
        {{#if post.edited}}
        <br>Edited on {{ format_date post.updatedAt }}
        {{/if}}
      </div>
    </div>
    </a>
  {{/each}}
</div>