<div class="post-page">
  <div class="post">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 card-author">by
          {{post.user.username}}</h6>
        <p class="card-text">{{post.content}}</p>
      </div>
      <div class="card-footer">
        Posted on
        {{format_date post.createdAt}}
        {{#if post.edited}}
          <br> Edited on
          {{format_date post.updatedAt}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="comments">
    {{#each post.comments as |comment|}}
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2">{{comment.user.username}}</h6>
          <p class="card-text">{{comment.content}}</p>
        </div>
        <div class="card-footer">
          Commented on
          {{format_date comment.createdAt}}
          {{#if comment.edited}}
            <br> Edited on
            {{format_date comment.updatedAt}}
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>